In [2]:
import pandas as pd
import pandas_profiling
import src.datajanitor as datajanitor
import numpy as np
import seaborn
import matplotlib.pyplot as plt


df = datajanitor.getDataset('adult')
df.fetchData()

Fetching adult dataset from https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

3882KB [00:18, 208.51KB/s]

adult.data saved to local datastore

In [4]:
adult = df.getDataFrame()
adult.sample(5)

,age,workclass,finalWeight,education,yearsEducation,maritalStatus,occupation,familyRole,race,sex,capitalGain,capitalLoss,hoursPerWeek,nativeCountry,income50k
1350,32,Self-emp-inc,199765,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,50,United-States,1
28893,25,Private,198587,Some-college,10,Never-married,Tech-support,Not-in-family,Black,Female,2174,0,50,United-States,0
17290,42,Self-emp-not-inc,30759,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,0
7633,62,State-gov,221558,Masters,14,Separated,Prof-specialty,Unmarried,White,Female,0,0,24,?,0
15478,51,Private,91137,9th,5,Never-married,Other-service,Unmarried,Black,Female,0,0,40,United-States,0

In [5]:
profile = pandas_profiling.ProfileReport(adult)
profile.to_file()

/home/paul/miniconda3/envs/cs7641/lib/python3.7/site-packages/pandas_profiling/describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)

In [6]:
adult.dtypes

age                int64
workclass         object
finalWeight        int64
education         object
yearsEducation     int64
maritalStatus     object
occupation        object
familyRole        object
race              object
sex               object
capitalGain        int64
capitalLoss        int64
hoursPerWeek       int64
nativeCountry     object
income50k          int64
dtype: object

In [9]:
# change label to uint8
adult.income50k = adult.income50k.astype('uint8')
# Categorical types already have 'object' type, so save them
categoricalCols = adult.select_dtypes(
    include=['category', 'object'])
numericCols = adult.select_dtypes(
    include=['int64'])
adult.dtypes

age                int64
workclass         object
finalWeight        int64
education         object
yearsEducation     int64
maritalStatus     object
occupation        object
familyRole        object
race              object
sex               object
capitalGain        int64
capitalLoss        int64
hoursPerWeek       int64
nativeCountry     object
income50k          uint8
dtype: object